TestService/Service References/AESServiceRef/AESApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" />
  <xs:element name="GetApplicationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="GetApplicationByIdResult" nillable="true" type="q1:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsByApplicantId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicantID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsByApplicantIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="GetApplicationsByApplicantIdResult" nillable="true" type="q2:ArrayOfApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="GetApplicationsResult" nillable="true" type="q3:ArrayOfApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="app" nillable="true" type="q4:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="oldApp" nillable="true" type="q5:Application" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="newApp" nillable="true" type="q6:Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="GetApplicantByIDResult" nillable="true" type="q7:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantByAppliedID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantByAppliedIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="GetApplicantByAppliedIDResult" nillable="true" type="q8:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" minOccurs="0" name="GetApplicantsResult" nillable="true" type="q9:Applicant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>