TestService/Service References/AESServiceRef/AESApplicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Application">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Application" nillable="true" type="tns:Application" />
  <xs:complexType name="ArrayOfApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Application" nillable="true" type="tns:Application" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplication" nillable="true" type="tns:ArrayOfApplication" />
  <xs:complexType name="Applicant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applicant_ID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Applicant" nillable="true" type="tns:Applicant" />
</xs:schema>