TestService/Service References/AESServiceRef/AESApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AESApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kask.DAL2.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_GetApplicationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationById" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplications" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CreateApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CreateApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_GetApplicantByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicantByID" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_GetApplicantByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicantByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_GetApplicants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicants" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_GetApplicants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicantsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_CreateApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplicant" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_CreateApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_UpdateApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicant" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_UpdateApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_DeleteApplicant_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplicant" />
  </wsdl:message>
  <wsdl:message name="IApplicantService_DeleteApplicant_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplicantResponse" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_GetAppliedByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppliedByID" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_GetAppliedByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppliedByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_GetApplieds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplieds" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_GetApplieds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppliedsResponse" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_CreateApplied_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplied" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_CreateApplied_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppliedResponse" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_UpdateApplied_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplied" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_UpdateApplied_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppliedResponse" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_DeleteApplied_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplied" />
  </wsdl:message>
  <wsdl:message name="IAppliedService_DeleteApplied_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAppliedResponse" />
  </wsdl:message>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="GetApplicationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationById" message="tns:IApplicationService_GetApplicationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationByIdResponse" message="tns:IApplicationService_GetApplicationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplications" message="tns:IApplicationService_GetApplications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationsResponse" message="tns:IApplicationService_GetApplications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CreateApplication" message="tns:IApplicationService_CreateApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CreateApplicationResponse" message="tns:IApplicationService_CreateApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplication" message="tns:IApplicationService_UpdateApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplicationResponse" message="tns:IApplicationService_UpdateApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/DeleteApplication" message="tns:IApplicationService_DeleteApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/DeleteApplicationResponse" message="tns:IApplicationService_DeleteApplication_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IApplicantService">
    <wsdl:operation name="GetApplicantByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicantService/GetApplicantByID" message="tns:IApplicantService_GetApplicantByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicantService/GetApplicantByIDResponse" message="tns:IApplicantService_GetApplicantByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicants">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicantService/GetApplicants" message="tns:IApplicantService_GetApplicants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicantService/GetApplicantsResponse" message="tns:IApplicantService_GetApplicants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicantService/CreateApplicant" message="tns:IApplicantService_CreateApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicantService/CreateApplicantResponse" message="tns:IApplicantService_CreateApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicantService/UpdateApplicant" message="tns:IApplicantService_UpdateApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicantService/UpdateApplicantResponse" message="tns:IApplicantService_UpdateApplicant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApplicant">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicantService/DeleteApplicant" message="tns:IApplicantService_DeleteApplicant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicantService/DeleteApplicantResponse" message="tns:IApplicantService_DeleteApplicant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAppliedService">
    <wsdl:operation name="GetAppliedByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppliedService/GetAppliedByID" message="tns:IAppliedService_GetAppliedByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppliedService/GetAppliedByIDResponse" message="tns:IAppliedService_GetAppliedByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplieds">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppliedService/GetApplieds" message="tns:IAppliedService_GetApplieds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppliedService/GetAppliedsResponse" message="tns:IAppliedService_GetApplieds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateApplied">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppliedService/CreateApplied" message="tns:IAppliedService_CreateApplied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppliedService/CreateAppliedResponse" message="tns:IAppliedService_CreateApplied_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplied">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppliedService/UpdateApplied" message="tns:IAppliedService_UpdateApplied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppliedService/UpdateAppliedResponse" message="tns:IAppliedService_UpdateApplied_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApplied">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppliedService/DeleteApplied" message="tns:IAppliedService_DeleteApplied_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppliedService/DeleteAppliedResponse" message="tns:IAppliedService_DeleteApplied_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationById">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateApplication">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CreateApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/UpdateApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/DeleteApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IApplicantService" type="tns:IApplicantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicantByID">
      <soap:operation soapAction="http://tempuri.org/IApplicantService/GetApplicantByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicants">
      <soap:operation soapAction="http://tempuri.org/IApplicantService/GetApplicants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateApplicant">
      <soap:operation soapAction="http://tempuri.org/IApplicantService/CreateApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplicant">
      <soap:operation soapAction="http://tempuri.org/IApplicantService/UpdateApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplicant">
      <soap:operation soapAction="http://tempuri.org/IApplicantService/DeleteApplicant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAppliedService" type="tns:IAppliedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppliedByID">
      <soap:operation soapAction="http://tempuri.org/IAppliedService/GetAppliedByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplieds">
      <soap:operation soapAction="http://tempuri.org/IAppliedService/GetApplieds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateApplied">
      <soap:operation soapAction="http://tempuri.org/IAppliedService/CreateApplied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplied">
      <soap:operation soapAction="http://tempuri.org/IAppliedService/UpdateApplied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplied">
      <soap:operation soapAction="http://tempuri.org/IAppliedService/DeleteApplied" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AESApplicationService">
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://localhost:1760/AESApplicationService.svc/Application" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IApplicantService" binding="tns:BasicHttpBinding_IApplicantService">
      <soap:address location="http://localhost:1760/AESApplicationService.svc/Applicant" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAppliedService" binding="tns:BasicHttpBinding_IAppliedService">
      <soap:address location="http://localhost:1760/AESApplicationService.svc/Applied" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>