KaskKiosk/Service References/AESApplicationServiceRef/AESApplicationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AESApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" />
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_GetApplicationByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationByID" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationByID_KaskServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" name="detail" element="q1:KaskServiceException" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsByName" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplicationsByName_KaskServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" name="detail" element="q2:KaskServiceException" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplications" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_GetApplications_KaskServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" name="detail" element="q3:KaskServiceException" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CreateApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CreateApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_CreateApplication_KaskServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" name="detail" element="q4:KaskServiceException" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_UpdateApplication_KaskServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" name="detail" element="q5:KaskServiceException" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_DeleteApplication_KaskServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Kask.Services.Exceptions" name="detail" element="q6:KaskServiceException" />
  </wsdl:message>
  <wsdl:portType name="IApplicationService">
    <wsdl:operation name="GetApplicationByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationByID" message="tns:IApplicationService_GetApplicationByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationByIDResponse" message="tns:IApplicationService_GetApplicationByID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationByIDKaskServiceExceptionFault" name="KaskServiceExceptionFault" message="tns:IApplicationService_GetApplicationByID_KaskServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationsByName" message="tns:IApplicationService_GetApplicationsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationsByNameResponse" message="tns:IApplicationService_GetApplicationsByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationsByNameKaskServiceExceptionFault" name="KaskServiceExceptionFault" message="tns:IApplicationService_GetApplicationsByName_KaskServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/GetApplications" message="tns:IApplicationService_GetApplications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationsResponse" message="tns:IApplicationService_GetApplications_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IApplicationService/GetApplicationsKaskServiceExceptionFault" name="KaskServiceExceptionFault" message="tns:IApplicationService_GetApplications_KaskServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/CreateApplication" message="tns:IApplicationService_CreateApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/CreateApplicationResponse" message="tns:IApplicationService_CreateApplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IApplicationService/CreateApplicationKaskServiceExceptionFault" name="KaskServiceExceptionFault" message="tns:IApplicationService_CreateApplication_KaskServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplication" message="tns:IApplicationService_UpdateApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplicationResponse" message="tns:IApplicationService_UpdateApplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IApplicationService/UpdateApplicationKaskServiceExceptionFault" name="KaskServiceExceptionFault" message="tns:IApplicationService_UpdateApplication_KaskServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IApplicationService/DeleteApplication" message="tns:IApplicationService_DeleteApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApplicationService/DeleteApplicationResponse" message="tns:IApplicationService_DeleteApplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IApplicationService/DeleteApplicationKaskServiceExceptionFault" name="KaskServiceExceptionFault" message="tns:IApplicationService_DeleteApplication_KaskServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApplicationService" type="tns:IApplicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationByID">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KaskServiceExceptionFault">
        <soap:fault use="literal" name="KaskServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationsByName">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplicationsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KaskServiceExceptionFault">
        <soap:fault use="literal" name="KaskServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/GetApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KaskServiceExceptionFault">
        <soap:fault use="literal" name="KaskServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateApplication">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/CreateApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KaskServiceExceptionFault">
        <soap:fault use="literal" name="KaskServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/UpdateApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KaskServiceExceptionFault">
        <soap:fault use="literal" name="KaskServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
      <soap:operation soapAction="http://tempuri.org/IApplicationService/DeleteApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="KaskServiceExceptionFault">
        <soap:fault use="literal" name="KaskServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AESApplicationService">
    <wsdl:port name="BasicHttpBinding_IApplicationService" binding="tns:BasicHttpBinding_IApplicationService">
      <soap:address location="http://localhost:1760/AESApplicationService.svc/Application" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>