KaskKiosk/Service References/AESApplicationServiceRef/AESApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ApplicationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableForDays" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AvailableForEvenings" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AvailableForWeekends" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FridayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="FridayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="FullTime" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MondayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="MondayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SalaryExpectation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaturdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SaturdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SundayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SundayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ThursdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ThursdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TuesdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TuesdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="WednesdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="WednesdayTo" nillable="true" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDAO" nillable="true" type="tns:ApplicationDAO" />
  <xs:complexType name="ArrayOfApplicationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationDAO" nillable="true" type="tns:ApplicationDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationDAO" nillable="true" type="tns:ArrayOfApplicationDAO" />
  <xs:complexType name="ApplicantDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantDAO" nillable="true" type="tns:ApplicantDAO" />
  <xs:complexType name="ArrayOfApplicantDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantDAO" nillable="true" type="tns:ApplicantDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantDAO" nillable="true" type="tns:ArrayOfApplicantDAO" />
  <xs:complexType name="AppliedDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="AppliedID" type="xs:int" />
      <xs:element minOccurs="0" name="DateApplied" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobOpeningID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppliedDAO" nillable="true" type="tns:AppliedDAO" />
  <xs:complexType name="ArrayOfAppliedDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppliedDAO" nillable="true" type="tns:AppliedDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppliedDAO" nillable="true" type="tns:ArrayOfAppliedDAO" />
  <xs:complexType name="AssessmentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="AssessmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionBankID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssessmentDAO" nillable="true" type="tns:AssessmentDAO" />
  <xs:complexType name="ArrayOfAssessmentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssessmentDAO" nillable="true" type="tns:AssessmentDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssessmentDAO" nillable="true" type="tns:ArrayOfAssessmentDAO" />
  <xs:complexType name="EducationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="DegreeAndMajor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationID" type="xs:int" />
      <xs:element minOccurs="0" name="Graduated" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
      <xs:element minOccurs="0" name="YearsAttendedFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YearsAttendedTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducationDAO" nillable="true" type="tns:EducationDAO" />
  <xs:complexType name="ArrayOfEducationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationDAO" nillable="true" type="tns:EducationDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducationDAO" nillable="true" type="tns:ArrayOfEducationDAO" />
  <xs:complexType name="EmployerDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployerDAO" nillable="true" type="tns:EmployerDAO" />
  <xs:complexType name="ArrayOfEmployerDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployerDAO" nillable="true" type="tns:EmployerDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployerDAO" nillable="true" type="tns:ArrayOfEmployerDAO" />
  <xs:complexType name="EmploymentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployedFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployedTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      <xs:element minOccurs="0" name="EmploymentID" type="xs:int" />
      <xs:element minOccurs="0" name="EndingSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MayWeContactCurrentEmployer" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonForLeaving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsibilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartingSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmploymentDAO" nillable="true" type="tns:EmploymentDAO" />
  <xs:complexType name="ArrayOfEmploymentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentDAO" nillable="true" type="tns:EmploymentDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmploymentDAO" nillable="true" type="tns:ArrayOfEmploymentDAO" />
  <xs:complexType name="InterviewDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InterviewID" type="xs:int" />
      <xs:element minOccurs="0" name="SAQuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="SAResponseID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterviewDAO" nillable="true" type="tns:InterviewDAO" />
  <xs:complexType name="ArrayOfInterviewDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterviewDAO" nillable="true" type="tns:InterviewDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterviewDAO" nillable="true" type="tns:ArrayOfInterviewDAO" />
  <xs:complexType name="JobDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDAO" nillable="true" type="tns:JobDAO" />
  <xs:complexType name="ArrayOfJobDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDAO" nillable="true" type="tns:JobDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDAO" nillable="true" type="tns:ArrayOfJobDAO" />
  <xs:complexType name="JobRequirementDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobOpeningID" type="xs:int" />
      <xs:element minOccurs="0" name="JobRequirementID" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobRequirementDAO" nillable="true" type="tns:JobRequirementDAO" />
  <xs:complexType name="ArrayOfJobRequirementDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobRequirementDAO" nillable="true" type="tns:JobRequirementDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobRequirementDAO" nillable="true" type="tns:ArrayOfJobRequirementDAO" />
  <xs:complexType name="JobOpeningDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Approved" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="JobOpeningID" type="xs:int" />
      <xs:element minOccurs="0" name="OpenDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StoreID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOpeningDAO" nillable="true" type="tns:JobOpeningDAO" />
  <xs:complexType name="ArrayOfJobOpeningDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobOpeningDAO" nillable="true" type="tns:JobOpeningDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobOpeningDAO" nillable="true" type="tns:ArrayOfJobOpeningDAO" />
  <xs:complexType name="JobOpeningInterviewQuestionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobOpeningID" type="xs:int" />
      <xs:element minOccurs="0" name="JobOpeningInterviewQuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="SAQuestionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOpeningInterviewQuestionDAO" nillable="true" type="tns:JobOpeningInterviewQuestionDAO" />
  <xs:complexType name="ArrayOfJobOpeningInterviewQuestionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobOpeningInterviewQuestionDAO" nillable="true" type="tns:JobOpeningInterviewQuestionDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobOpeningInterviewQuestionDAO" nillable="true" type="tns:ArrayOfJobOpeningInterviewQuestionDAO" />
  <xs:complexType name="QuestionBankDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MCCorrectOption" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MCOptionID" type="xs:int" />
      <xs:element minOccurs="0" name="MCQuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionBankID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionBankDAO" nillable="true" type="tns:QuestionBankDAO" />
  <xs:complexType name="ArrayOfQuestionBankDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionBankDAO" nillable="true" type="tns:QuestionBankDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionBankDAO" nillable="true" type="tns:ArrayOfQuestionBankDAO" />
  <xs:complexType name="MCQuestionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MCQuestionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MCQuestionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MCQuestionDAO" nillable="true" type="tns:MCQuestionDAO" />
  <xs:complexType name="ArrayOfMCQuestionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MCQuestionDAO" nillable="true" type="tns:MCQuestionDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMCQuestionDAO" nillable="true" type="tns:ArrayOfMCQuestionDAO" />
  <xs:complexType name="MCOptionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MCOptionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MCOptionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MCOptionDAO" nillable="true" type="tns:MCOptionDAO" />
  <xs:complexType name="ArrayOfMCOptionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MCOptionDAO" nillable="true" type="tns:MCOptionDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMCOptionDAO" nillable="true" type="tns:ArrayOfMCOptionDAO" />
  <xs:complexType name="SAQuestionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SAQuestionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAQuestionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAQuestionDAO" nillable="true" type="tns:SAQuestionDAO" />
  <xs:complexType name="ArrayOfSAQuestionDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAQuestionDAO" nillable="true" type="tns:SAQuestionDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAQuestionDAO" nillable="true" type="tns:ArrayOfSAQuestionDAO" />
  <xs:complexType name="SAResponseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SAResponseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAResponseID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SAResponseDAO" nillable="true" type="tns:SAResponseDAO" />
  <xs:complexType name="ArrayOfSAResponseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SAResponseDAO" nillable="true" type="tns:SAResponseDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSAResponseDAO" nillable="true" type="tns:ArrayOfSAResponseDAO" />
  <xs:complexType name="SchoolDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchoolDAO" nillable="true" type="tns:SchoolDAO" />
  <xs:complexType name="ArrayOfSchoolDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolDAO" nillable="true" type="tns:SchoolDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolDAO" nillable="true" type="tns:ArrayOfSchoolDAO" />
  <xs:complexType name="SkillDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SkillID" type="xs:int" />
      <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillDAO" nillable="true" type="tns:SkillDAO" />
  <xs:complexType name="ArrayOfSkillDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillDAO" nillable="true" type="tns:SkillDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillDAO" nillable="true" type="tns:ArrayOfSkillDAO" />
  <xs:complexType name="SkillQuestionBankDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionBankID" type="xs:int" />
      <xs:element minOccurs="0" name="SkillID" type="xs:int" />
      <xs:element minOccurs="0" name="SkillQuestionBankID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillQuestionBankDAO" nillable="true" type="tns:SkillQuestionBankDAO" />
  <xs:complexType name="ArrayOfSkillQuestionBankDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillQuestionBankDAO" nillable="true" type="tns:SkillQuestionBankDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillQuestionBankDAO" nillable="true" type="tns:ArrayOfSkillQuestionBankDAO" />
  <xs:complexType name="StoreDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager_ID" type="xs:int" />
      <xs:element minOccurs="0" name="StoreID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreDAO" nillable="true" type="tns:StoreDAO" />
  <xs:complexType name="ArrayOfStoreDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreDAO" nillable="true" type="tns:StoreDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreDAO" nillable="true" type="tns:ArrayOfStoreDAO" />
  <xs:complexType name="UserProfileDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileDAO" nillable="true" type="tns:UserProfileDAO" />
  <xs:complexType name="ArrayOfUserProfileDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfileDAO" nillable="true" type="tns:UserProfileDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfileDAO" nillable="true" type="tns:ArrayOfUserProfileDAO" />
  <xs:complexType name="UserProfileToApplicantDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Applicant_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserProfileToApplicant_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileToApplicantDAO" nillable="true" type="tns:UserProfileToApplicantDAO" />
  <xs:complexType name="ArrayOfUserProfileToApplicantDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProfileToApplicantDAO" nillable="true" type="tns:UserProfileToApplicantDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProfileToApplicantDAO" nillable="true" type="tns:ArrayOfUserProfileToApplicantDAO" />
</xs:schema>