KaskKiosk/Service References/AESApplicationServiceRef/AESApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ApplicationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableForDays" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AvailableForEvenings" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AvailableForWeekends" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FridayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="FridayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="FullTime" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MondayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="MondayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SalaryExpectation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaturdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SaturdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SundayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SundayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ThursdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ThursdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TuesdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TuesdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="WednesdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="WednesdayTo" nillable="true" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDAO" nillable="true" type="tns:ApplicationDAO" />
  <xs:complexType name="ArrayOfApplicationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationDAO" nillable="true" type="tns:ApplicationDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationDAO" nillable="true" type="tns:ArrayOfApplicationDAO" />
  <xs:complexType name="ApplicantDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicantDAO" nillable="true" type="tns:ApplicantDAO" />
  <xs:complexType name="ArrayOfApplicantDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicantDAO" nillable="true" type="tns:ApplicantDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicantDAO" nillable="true" type="tns:ArrayOfApplicantDAO" />
  <xs:complexType name="AppliedDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="AppliedID" type="xs:int" />
      <xs:element minOccurs="0" name="DateApplied" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppliedDAO" nillable="true" type="tns:AppliedDAO" />
  <xs:complexType name="ArrayOfAppliedDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppliedDAO" nillable="true" type="tns:AppliedDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppliedDAO" nillable="true" type="tns:ArrayOfAppliedDAO" />
  <xs:complexType name="EducationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="DegreeAndMajor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EducationID" type="xs:int" />
      <xs:element minOccurs="0" name="Graduated" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
      <xs:element minOccurs="0" name="YearsAttendedFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="YearsAttendedTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducationDAO" nillable="true" type="tns:EducationDAO" />
  <xs:complexType name="ArrayOfEducationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationDAO" nillable="true" type="tns:EducationDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducationDAO" nillable="true" type="tns:ArrayOfEducationDAO" />
  <xs:complexType name="EmployerDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployerDAO" nillable="true" type="tns:EmployerDAO" />
  <xs:complexType name="ArrayOfEmployerDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployerDAO" nillable="true" type="tns:EmployerDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployerDAO" nillable="true" type="tns:ArrayOfEmployerDAO" />
  <xs:complexType name="EmploymentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployedFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployedTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployerID" type="xs:int" />
      <xs:element minOccurs="0" name="EmploymentID" type="xs:int" />
      <xs:element minOccurs="0" name="EndingSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MayWeContactCurrentEmployer" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonForLeaving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsibilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartingSalary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supervisor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmploymentDAO" nillable="true" type="tns:EmploymentDAO" />
  <xs:complexType name="ArrayOfEmploymentDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentDAO" nillable="true" type="tns:EmploymentDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmploymentDAO" nillable="true" type="tns:ArrayOfEmploymentDAO" />
  <xs:complexType name="SchoolDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchoolID" type="xs:int" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchoolDAO" nillable="true" type="tns:SchoolDAO" />
  <xs:complexType name="ArrayOfSchoolDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolDAO" nillable="true" type="tns:SchoolDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolDAO" nillable="true" type="tns:ArrayOfSchoolDAO" />
</xs:schema>