KaskKiosk/Service References/AESApplicationServiceRef/AESApplicationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ApplicationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableForDays" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AvailableForEvenings" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AvailableForWeekends" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FridayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="FridayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="FullTime" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MondayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="MondayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SalaryExpectation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaturdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SaturdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SundayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="SundayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ThursdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="ThursdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TuesdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="TuesdayTo" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="WednesdayFrom" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="WednesdayTo" nillable="true" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDAO" nillable="true" type="tns:ApplicationDAO" />
  <xs:complexType name="ArrayOfApplicationDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationDAO" nillable="true" type="tns:ApplicationDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationDAO" nillable="true" type="tns:ArrayOfApplicationDAO" />
</xs:schema>