KaskKiosk/Service References/AESApplicationServiceRef/AESApplicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1760/AESApplicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" />
  <xs:element name="GetApplicationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetApplicationByIDResult" nillable="true" type="q1:ApplicationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetApplicationsByNameResult" nillable="true" type="q2:ArrayOfApplicationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetApplicationsResult" nillable="true" type="q3:ArrayOfApplicationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="app" nillable="true" type="q4:ApplicationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newApp" nillable="true" type="q5:ApplicationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetApplicantByIDResult" nillable="true" type="q6:ApplicantDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetApplicantsResult" nillable="true" type="q7:ArrayOfApplicantDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="a" nillable="true" type="q8:ApplicantDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateApplicantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newApp" nillable="true" type="q9:ApplicantDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateApplicantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteApplicantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppliedByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppliedByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetAppliedByIDResult" nillable="true" type="q10:AppliedDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplieds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppliedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetAppliedsResult" nillable="true" type="q11:ArrayOfAppliedDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppliedsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppliedsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetAppliedsByNameResult" nillable="true" type="q12:ArrayOfAppliedDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateApplied">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="a" nillable="true" type="q13:AppliedDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAppliedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAppliedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplied">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newApp" nillable="true" type="q14:AppliedDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppliedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAppliedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplied">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppliedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAppliedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetAssessmentByIDResult" nillable="true" type="q15:AssessmentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssessmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetAssessmentsResult" nillable="true" type="q16:ArrayOfAssessmentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q17:AssessmentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAssessmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newAssessment" nillable="true" type="q18:AssessmentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAssessmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssessment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssessmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAssessmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEducationByIDResult" nillable="true" type="q19:EducationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEducationsResult" nillable="true" type="q20:ArrayOfEducationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEducationsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEducationsByNameResult" nillable="true" type="q21:ArrayOfEducationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q22:EducationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEducationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q23:EducationDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEducationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEducationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEmployerByIDResult" nillable="true" type="q24:EmployerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEmployersResult" nillable="true" type="q25:ArrayOfEmployerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q26:EmployerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEmployerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q27:EmployerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmploymentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmploymentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEmploymentByIDResult" nillable="true" type="q28:EmploymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmploymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEmploymentsResult" nillable="true" type="q29:ArrayOfEmploymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmploymentsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmploymentsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetEmploymentsByNameResult" nillable="true" type="q30:ArrayOfEmploymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q31:EmploymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmploymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEmploymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q32:EmploymentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmploymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmploymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmploymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmploymentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterviewByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterviewByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetInterviewByIDResult" nillable="true" type="q33:InterviewDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetInterviewsResult" nillable="true" type="q34:ArrayOfInterviewDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInterview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q35:InterviewDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInterviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateInterviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInterview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newInterview" nillable="true" type="q36:InterviewDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInterviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInterviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInterview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInterviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInterviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobByIDResult" nillable="true" type="q37:JobDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobsResult" nillable="true" type="q38:ArrayOfJobDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q39:JobDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q40:JobDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRequirementByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRequirementByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobRequirementByIDResult" nillable="true" type="q41:JobRequirementDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRequirements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobRequirementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobRequirementsResult" nillable="true" type="q42:ArrayOfJobRequirementDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobRequirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q43:JobRequirementDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobRequirementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateJobRequirementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobRequirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newJobRequirement" nillable="true" type="q44:JobRequirementDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobRequirementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJobRequirementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobRequirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobRequirementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJobRequirementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobOpeningByIDResult" nillable="true" type="q45:JobOpeningDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningsByStoreID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningsByStoreIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobOpeningsByStoreIDResult" nillable="true" type="q46:ArrayOfJobOpeningDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpenings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobOpeningsResult" nillable="true" type="q47:ArrayOfJobOpeningDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobOpening">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q48:JobOpeningDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateJobOpeningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobOpening">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q49:JobOpeningDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJobOpeningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobOpening">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJobOpeningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningInterviewQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningInterviewQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobOpeningInterviewQuestionByIDResult" nillable="true" type="q50:JobOpeningInterviewQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningInterviewQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobOpeningInterviewQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetJobOpeningInterviewQuestionsResult" nillable="true" type="q51:ArrayOfJobOpeningInterviewQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobOpeningInterviewQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q52:JobOpeningInterviewQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobOpeningInterviewQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateJobOpeningInterviewQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobOpeningInterviewQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newJobOpeningQuestionData" nillable="true" type="q53:JobOpeningInterviewQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobOpeningInterviewQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJobOpeningInterviewQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobOpeningInterviewQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobOpeningInterviewQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJobOpeningInterviewQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionBankByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionBankByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetQuestionBankByIDResult" nillable="true" type="q54:QuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionBankByMCQuestionIDAndMCOptionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MCQuestionID" type="xs:int" />
        <xs:element minOccurs="0" name="MCOptionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionBankByMCQuestionIDAndMCOptionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetQuestionBankByMCQuestionIDAndMCOptionIDResult" nillable="true" type="q55:QuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionBanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetQuestionBanksResult" nillable="true" type="q56:ArrayOfQuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q57:QuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuestionBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateQuestionBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newQuestionBank" nillable="true" type="q58:QuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestionBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuestionBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQuestionBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetMCQuestionByIDResult" nillable="true" type="q59:MCQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetMCQuestionsResult" nillable="true" type="q60:ArrayOfMCQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMCQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q61:MCQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMCQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMCQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMCQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newMCQuestion" nillable="true" type="q62:MCQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMCQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMCQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMCQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMCQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMCQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCOptionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCOptionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetMCOptionByIDResult" nillable="true" type="q63:MCOptionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMCOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetMCOptionsResult" nillable="true" type="q64:ArrayOfMCOptionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMCOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q65:MCOptionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMCOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMCOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMCOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newMCOption" nillable="true" type="q66:MCOptionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMCOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMCOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMCOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMCOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMCOptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSAQuestionByIDResult" nillable="true" type="q67:SAQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSAQuestionsResult" nillable="true" type="q68:ArrayOfSAQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSAQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q69:SAQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSAQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSAQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSAQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newSAQuestion" nillable="true" type="q70:SAQuestionDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSAQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSAQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSAQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSAQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSAQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAResponseByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAResponseByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSAResponseByIDResult" nillable="true" type="q71:SAResponseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAResponses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSAResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSAResponsesResult" nillable="true" type="q72:ArrayOfSAResponseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q73:SAResponseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSAResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSAResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newSAResponse" nillable="true" type="q74:SAResponseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSAResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSAResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSAResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSAResponseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSchoolByIDResult" nillable="true" type="q75:SchoolDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchools">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSchoolsResult" nillable="true" type="q76:ArrayOfSchoolDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q77:SchoolDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q78:SchoolDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSchoolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSkillByIDResult" nillable="true" type="q79:SkillDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkills">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSkillsResult" nillable="true" type="q80:ArrayOfSkillDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q81:SkillDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newSkill" nillable="true" type="q82:SkillDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSkillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillQuestionBankByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillQuestionBankByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSkillQuestionBankByIDResult" nillable="true" type="q83:SkillQuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillQuestionBanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillQuestionBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetSkillQuestionBanksResult" nillable="true" type="q84:ArrayOfSkillQuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSkillQuestionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q85:SkillQuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSkillQuestionBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSkillQuestionBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkillQuestionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newSkillQuestionBank" nillable="true" type="q86:SkillQuestionBankDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkillQuestionBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSkillQuestionBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkillQuestionBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSkillQuestionBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSkillQuestionBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoreByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetStoreByIDResult" nillable="true" type="q87:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="GetStoresResult" nillable="true" type="q88:ArrayOfStoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="e" nillable="true" type="q89:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Kask.Services.DAO" minOccurs="0" name="newEmp" nillable="true" type="q90:StoreDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>